header {
    text-align: center;
}

header h1 {
    color: rgb(199, 168, 16);
}

.border {
 
    text-align: center;
}
.yellow {
    color: rgb(216, 117, 18);
    text-decoration: none;
}
            
.yellow a {
    color: rgb(216, 117, 18);
    text-decoration: none;
}
.table2 {
    border-collapse: collapse;
}

.table1 {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th{
    padding: 0px 5px 0px 5px;
}

