header {
    text-align: center;
}

img {
    width: 700px;
    height: auto;
}

body {
    text-align: justify;
}

h1 {
    color: rgb(55, 150, 69);
}

hr {
    border: 1.5px solid black;
}

 table {
        text-align: center;
        border-collapse: collapse;
        border: 1px solid black;
    }

    table th, table td {
        padding: 3px 8px 3px 8px;
    }

    .table2 {
        text-align: left;
    }
    